.login-container {
    background-color: white;
    border-radius: 1em;
    height: 500px;
    width: 400px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .login-form {
    text-align: center;
    margin-top: 5em;
  }
  
  .input {
    display: block;
    width: 100%;
    padding: 0.2em;
    margin: 0.2em 0 0.6em;
    font-size: 1.2em;
  }
  .input[type="submit"] {
    border: none;
    margin: 1em 0;
    color: white;
    padding: 1em;
  }
  HTML CSSResult Skip Results Iframe EDIT ON body {
    background-color: #f3ebf6;
    font-family: "Ubuntu", sans-serif;
  }
  
  .main {
    background-color: #ffffff;
    width: 400px;
    height: 600px;
    margin: 7em auto;
    border-radius: 1.5em;
    box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
  }
  
  .sign {
    padding-top: 40px;
    color: #8c55aa;
    font-family: "Ubuntu", sans-serif;
    font-weight: bold;
    font-size: 23px;
  }
  
  .un {
    width: 76%;
    color: rgb(38, 50, 56);
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 1px;
    background: rgba(136, 126, 126, 0.04);
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    outline: none;
    box-sizing: border-box;
    border: 2px solid rgba(0, 0, 0, 0.02);
    margin-bottom: 50px;
    margin-left: 46px;
    text-align: center;
    margin-bottom: 27px;
    font-family: "Ubuntu", sans-serif;
  }
  
  form.form1 {
    padding-top: 40px;
  }
  
  .pass {
    width: 76%;
    color: rgb(38, 50, 56);
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 1px;
    background: rgba(136, 126, 126, 0.04);
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    outline: none;
    box-sizing: border-box;
    border: 2px solid rgba(0, 0, 0, 0.02);
    margin-bottom: 50px;
    margin-left: 46px;
    text-align: center;
    margin-bottom: 27px;
    font-family: "Ubuntu", sans-serif;
  }
  
  .un:focus,
  .pass:focus {
    border: 2px solid rgba(0, 0, 0, 0.18) !important;
  }
  
  .submit {
    
    border-radius: 5em;
    color: #fff;
    background: linear-gradient(to right, #f8983e, #e78a10);
    border: 0;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 10px;
    padding-top: 10px;
    font-family: "Ubuntu", sans-serif;
    font-size: 13px;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
  }
  
  .btnContainer{
    text-align: center;
  }
  
  .submit:hover{
      cursor: pointer;
      background:  #ff9100b9;
  }
  
  .forgot {
    text-shadow: 0px 0px 3px rgba(117, 117, 117, 0.12);
    color: #8d8d8d;
    font-size: 8pt;
    padding: 10px;
    vertical-align: bottom;
  }
  
  .forgot:hover {
    cursor: pointer;
    text-decoration: underline;
  }
  
  .forgotPassword{
    display: block;
    text-align: center;
  }
  
  a {
    text-shadow: 0px 0px 3px rgba(117, 117, 117, 0.12);
    color: #e1bee7;
    text-decoration: none;
  }
  
  .register {
    text-shadow: 0px 0px 3px rgba(117, 117, 117, 0.12);
    text-align: center;
    font-size: 10pt;
    margin-top: 2em;
  }
  
  .register a{
      color: #e78a10;
  }
  
  .register a:hover {
    cursor: pointer;
    text-decoration: underline;
  }
  
  .cancel{
    display: block;
    text-align: center;
  }
  
  .cancel a{
    color: #000;
  }
  
  .cancel:hover{
    text-decoration: underline;
  }
  
  .formError{
    margin-left: 50px;
    margin-top: -20px;
    font-size: 10pt;
    color: rgb(208, 0, 0);
  }
  